.details-movie {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #111211;
  color: white;
}
figure {
  display: flex;
  justify-content: center;
  grid-area: 1;
  margin-top: 50px;
  border-radius: 10px;
}
img {
  width: 50%;
  height: 88%;
  border-radius: 12px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.valoracion {
  font-weight: 400;
  gap: 4px;
}
.sinopsis {
  width: 80%;
  margin-top: 12px;
}
hr {
  width: 46%;
  margin-top: 12px;
}
h1 {
  font-weight: 600;
}
p {
  display: flex;
}
.generos {
  display: contents;
}
