<app-header></app-header>

<main>
    <div class="container-fluid">
        <select id="order-selector" class="form-select form-select-sm" (change)="orderMovies($event)">
            <option value="">select order</option>
            <option value="1">Order by A-Z</option>
            <option value="2">Order by Z-A</option>
            <option value="3">Order by desc</option>
            <option value="4">Order by asc</option>
        </select>
    </div>
    <div class="card-movies container">
        <!-- Utilizamos *ngFor para iterar sobre las películas en moviesData -->
        <div *ngFor="let movie of moviesData" class="card">
            <img (click)="onImageClick(movie.id)"
                [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : defaultImg" alt="">
            <figcaption class="mat-caption text-center">{{ movie.title }} {{ movie.release_date | date:"yyyy" }}
            </figcaption>
        </div>
    </div>

    <div class="paginator" *ngIf="moviesData.length > 0"> <!--solo si hay películas en moviesData-->
        <mat-paginator [length]="totalPages * page_size" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
            aria-label="Seleccionar página" (page)="handlePage($event)">
        </mat-paginator>
    </div>
</main>

<!--pipe en angular, es una forma de transformar los datos de entrada en una salida deseada
  En Angular, se utiliza el símbolo | para aplicar un pipe a un valor.

[ ] Vinculando una propiedad de un elemento HTML a una propiedad del componente
la vinculación de propiedades con [] es unidireccional, los datos fluyen del componente
al elemento HTML, pero no al revés-->