<section class="card-movies container">
    <!-- Utilizamos *ngFor para iterar sobre las películas en moviesData -->
    <div *ngFor="let movie of moviesData" class="card">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="">
        <figure class="mat-caption">{{ movie.title }} {{ movie.release_date }}</figure>
    </div>


</section>

<div class="paginator">
    <mat-paginator [length]="totalPages * page_size" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
        aria-label="Seleccionar página" (page)="handlePage($event)">
    </mat-paginator>

</div>